// base/_typography.scss

body {
  color: $light-black;
  font-size: 14px;
  line-height: 16px;
  font-family: $base-font-family;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  font-family: $base-font-family; 
  margin: 0;
  color: $light-black;
}

h1 {
  font-size: 45px;
  line-height: 68px;
}

h2 {
  font-size: 35px;
  line-height: 48px;
}

h3 {
  font-size: 25px;
  line-height: auto;
}

h4 {
  font-size: 20px;
  line-height: auto;
  font-weight: 400;
}

a { text-decoration: none; }