//styles.scss

// vendor
@import "vendor/bootstrap-grid.scss";

// base
@import "base/reset.scss";

// helpers
@import "helpers/variables.scss";

// layout
@import "layout/global.scss";
@import "layout/header.scss";
@import "layout/footer.scss";

// components
@import "components/artist-list.scss";
@import "components/artist.scss";
@import "components/search-form.scss";



