// components/_artist.scss

.artist {
  height: 500px;
  padding: 0 0 $base-spacing * 2 0;
  margin-bottom: $base-spacing * 2;

  .artist__inner {
    height: 100%;
    background-color: $teal-light;
    max-width: 250px;
  }

  img.artist__image {
    max-width: 100%;
    display: block;
    margin: 0px auto;
  }

  h4.artist__name{
    color: $white;
    font-weight: 500;
    padding: $base-spacing $base-spacing 0;
  }

  .artist__description {
    padding: $base-spacing $base-spacing 0;
    color: $light-grey;
  }

}