// components/_search-form.scss

section.search-form {
  background-color: none;
  padding: $base-spacing * 4 0;

  .search-form__input {
    width: 80%;
    height: 58px;
    font-size: 24px;
    font-weight: 500;
    padding: $base-spacing-small;
    color: $teal-dark;
    border: none;
    border: 3px solid $teal-dark;
    text-align: center;

    @include tablet {
      width: 90%;
    }

    @include mobile {
      width: 80%;
    }
  }

  .search-form__submit {
    padding: $base-spacing;
    background-color:$teal-dark; 
    cursor:pointer;
    display: inline-block;
    float: right;
    font-weight: 500;
    font-size: 24px;
    color: $white;
    border-width: none;
    border-style: none;
    border-color: none; 

    @include tablet {

    }
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  ::-webkit-input-placeholder {
    color: $teal-light;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $teal-light;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $teal-light;  
  }

  :-ms-input-placeholder {  
    color: $teal-light;  
  }

}